*{
  margin:0px;
  padding:0px;
  font-family:serif;
}

section{
  height:100vh;
  padding:20px;
  justify-content:center;
  align-items:center;
  display:flex;
}

section .content{
  width:830px;
  height:580px;;
  box-shadow:0 0 5px grey;
  position:relative;
  background:#fff;
  border-radius:5px;
  overflow:hidden;
  margin-top:-10%;
}

section .content .login-box{
  display:flex;
  width:100%;
  height:100%;
}

section .content .login-box .signup-btn-div{
  transition:0.5s;
  height:100%;
}

section .content .login-box .signup-btn-div img{
  height:100%;
  border-radius:5px 0 0 5px;
}

section .content .login-box .login-form{
  padding:40px;
  justify-content:center;
  align-items:center;
  display:flex;
  width:50%;
  transition:0.5s;
}

section .content .login-box .login-form form{
  margin-left:-15px;
}

section .content .login-box .login-form form img{
  width:30%;
  height:30%;
  margin-top:10%;
  margin-left:32%;
  border-radius:50%;
  box-shadow:0 0 5px grey;
  padding:10px;
}

section .content .login-box .login-form form h2{
  font-weight:600;
  letter-spacing:2px;
  text-transform:uppercase;
  width:100%;
  margin-bottom:10px;
  text-align:center;
}

section .content .login-box .login-form form input{
  padding:10px;
  background:#f5f5f5;
  border:none;
  margin-bottom:10px;
  outline:none;
  font-size:14px;
  letter-spacing:1px;
  width:100%;
  border-radius:3px;
}

section .content .login-box .login-form .login-btn{

  background:#ff523b;
  width:106%;
  color:white;
  text-transform:uppercase;
  font-weight:600;
}

section .content .login-box .login-form p{
  font-weight:100;
  color:#7474747;
}

section .content .login-box .login-form p a{
  text-decoration:none;
  color:#b20dec;
}

section .content .signup-box{
  position:absolute;
  top:0;
}


section .content .signup-box{
  z-index:-1;
  transition:0.5s;
}

section .content .signup-box .signup-form{
  position:relative;
  left:100%;
}

section .content .signup-box .login-btn-div{
  position:relative;
  left:-100%;
}

section .content.active .signup-box{
  z-index:1;
}

section .content.active .signup-box .signup-form{
  left:0;
  background:#fff;
}

section .content.active .signup-box .login-btn-div{
  left:0;
}

section .content.active .signup-box .login-btn-div img{
  border-radius:0 5px 5px 0;
}


.error{
  color:grey;
  font-size:12px;
  margin:5px;
  display:none;
}

.loader{
 display:flex;
 position:relative;
 width:108%;
}
        
.loader-login{
 width:20px;
 height:20px;;
 border:2px solid #fff;
 border-radius:50%;
 border-left-color:transparent;
 animation-name:rotate-animation;
 animation-duration:1s;
 animation-iteration-count:infinite;
 position:absolute;
 right:15px;
 top:5px;
 display:none;
}
 
#check-circle{
 position:absolute;
 right:15px;
 top:-25px;
 height:24px;
 width:24px;
 padding:0px;
 box-shadow:none;
 display:none;
 }

@keyframes rotate-animation{
 0%{
  transform:rotate(360deg);
 }
 100%{
  transform:rotate(0deg);
 }
 
}

@media only screen and (max-width:700px){
  .container{
   padding-left:5px;
   padding-right:5px;
   }
 
   section{
    height:650px;
    }

   .nav-bar ul{
     right:10px;
     z-index:2;
  }

  .signup-btn-div{
    display:none;
  }
  
  section .content .login-box .login-form .login-btn{
   width:108%;
  }
   
  section .content .login-box .login-form{
    width:100%;
    height:100%;
  }
  
  section .content.active .login-box .login-form form{
    margin-top:-50%;
  }
  
  section .content .login-box .login-form form{
    margin-top:-50%;
  }

  #check-circle{
 position:absolute;
 right:15px;
 top:-21px;
 height:24px;
 width:24px;
 padding:0px;
 box-shadow:none;
 display:none;
 }
}
