*{
  margin:0;
  padding:0;
  font-family:serif;
}

.logout{
 background:#cf1733;
 padding:3px;
 border-radius:2px;
}

.admin{
 background:#52ac39;
}

.home{
 color:#fff;
 text-decoration:none;
 font-family:serif;
}

/*------ Nav-bar ---*/
.nav-bar{
  display:flex;
  position:relative;
}

.small-container .row a{
 text-decoration:none;
}

.nav-bar img{
  padding-top:10px;
}

.nav-bar h3{
  color:#fff;
  position:relative;
  padding-top:10px;
  margin:10px;
  margin-left:5px;
  margin-top:15px;
  font-family:cursive;
}

.nav-bar ul{
  flex:1;
  text-align:right;
  padding-top:20px;
}

.nav-bar ul li{
  display:inline-block;
  margin-left:10px;
}

.nav-bar ul li a{
  text-decoration:none;
  color:#fff;
}

.nav-bar #menu{
  display:none;
}

.nav-bar #cart{
  top:8px;
  width:30px;
  height:30px;
  margin-left:20px;
  margin-right:20px;
  position:relative;
}

.nav-bar .cart{
  height:20px;  
  width:20px;
  display:block;
  content:'';
  margin:10px;
  position:absolute;
  border-radius:50%;
  color:#fff;
  text-align:center;
  right:2px;
  top:5px;
}

.nav-bar .cart p{
  background:#cf1733;
  border-radius:5px;
  font-size:13px;
  margin-top:3px;
  padding:2px;
  border-radius:50%;
}   


/*----- code to be move to home.html  Header -----*/

.row{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:center;
  margin-bottom:50px;
}

.col-2{
  flex-basis:50%;
  min-width:300px;
  margin-top:70px;
  color:#fff;
}

.col-2 h1{
  margin-bottom:10px;
  font-size:50px;
  font-family:cursive,serif;
}

.col-2 p{
  margin-bottom:10px;
}

.col-2 img{
  width:300px;
  height:300px;
  border-radius:50%;
  border:4px solid white;
  padding:10px;
  margin:50px auto;
  margin-left:-13px;
}

.btn{
  padding:10px 40px;
  border-radius:30px;
  color:#000;
  text-decoration:none;
  background:yellow;
  position:relative;
  top:10px;
}

/*----- Categories -----*/
.col-3{
  padding:40px;
  width:200px;
  margin:10px;
  margin-top:50px;
  text-align:center;
  box-shadow:0 0 6px rgba(0,0,0,0.3);
  border-radius:5px;
}

.col-3 img{
  width:150px;
  margin:10px;
}

/*--title css--*/
.title-b{
  font-size:30px;
  margin-bottom:5px;
}

.title-b:after{
  width:140px;
  height:3px;
  border-radius:15px;
  background:#000;
  margin:auto;
  content:'';
  display:block;
}

.small-container{
  text-align:center;
}

/*--- Featured Products ---*/
.col-4{
  width:200px;
  padding:40px;
  text-align:left;
}

.col-4 img{
  width:100%;
  height:220px;
}

.col-4 h4{
  color:#555;
}

.col-4 p{
  color:#555;
  font-size:14px;
}

.fa-star{
  color:#ff523b;
}

.testimonial{
  padding-top:100px;
}

.col-5{
  text-align:center;
  width:200px;
  padding:40px 20px;
  margin:10px;
  box-shadow:0 0 6px rgba(0,0,0,0.3);
  border-radius:5px;
}

.col-5 .fa-quote-left{
  font-size:34px;
  color:#ff523b;
}

.col-5 img{
  width:50px;
  height:50px;
  border-radius:50%;
  margin-top:50px;
}

.col-6{
  width:160px;
}

.col-6 img{
  width:100%;
  cursor:pointer;
  filter:grayscale(100%);
}

.col-6 img:hover{
  filter:grayscale(0%);
}


.col-6:nth-child(2) img{
  width:110px;
}

/*--- footer link ---*/
.links{
  color:white;
  background:#000;
  padding:20px;
}

.col-7{
  width:200px;
  margin:10px;
  margin-bottom:50px;
}

.col-7:nth-child(1){
  flex-basis:40%;
  width:100%;
}

.col-7 h2{
  color:#fff;
  font-family:cursive,serif;
  font-size:40px;
}

.col-7 ul{
  list-style:none;
}

.col-7 ul li a{
  color:#fff;
  text-decoration:none;
}

.col-7 b{
  margin-top:10px;
  font-family:700;
  margin-top:50px;
}

#exit{
 display:none;
}

@media only screen and (max-width:700px){
  
  .home{
    font-family:cursive;
  }

  /*------ Nav-bar ------*/
  .nav-bar #menu{
    position:absolute;
    right:10px;
    top:9px;
    display:block;
  }
  
  .nav-bar #cart{
    position:absolute;
    right:30px;
    top:10px;
    cursor:pointer;
  }
  
  .nav-bar .cart{
    right:35px;
  }
  
  .nav-bar ul{
    overflow:hidden;
    transition:1s;
    height:0px;
    position:absolute;
    right:10px;
    top:10px;
    text-align:center;
  }

  .nav-bar ul li{
     display:block;
     margin-bottom:10px;
  }

  .col-2 h1{
    font-size:40px;
    font-family:cursive;
   }
  
  .col-7 h2{
    font-family:cursive;
   }
  
  #exit{
    display:block;
  }
}
