*{
  margin:0px;
  padding:0px;
  font-family:serif;
}

.form-holder{
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  padding:10px;
}

.form-container{
  width:320px;
  height:500px;
  background:#fff;
  position:relative;
  padding:20px;
  margin:20px auto;
  text-align:center;
  margin-bottom:20px;
}

form{
  text-align:center;
}

.form-container form input{
  display:block;
  width:100%;
  padding:10px;
  font-size:16px;
  outline:none;
  margin-top:10px;
  background:#f5f5f5;
  border:none;
}

.form-container form input[type="text"]{
  width:92%;
}

.form-container form input[type="email"]{
  width:92%;
}

.form-container form input[type="submit"]{
  background:#ff523b;
  color:#fff;
  border:none;
  margin-top:10px;
  text-transform:uppercase;
  width:50%;
  text-align:center;
}

.form-container img{
  width:100px;
  height:100px;
  border-radius:50%;
  box-shadow:0 0 5px grey;
  padding:10px;
}


@media only screen and (max-width:700px){
   .form-container{
      width:300px;
   }       
        
   .container{
    height:650px;
    }       
}
