.col-4:hover{
 box-shadow:0 0 5px rgba(0,0,0,0.2);
}   

.col-4{
 padding:10px;
 transition:0.5s;
 margin:10px;
 border-radius:5px;
}

.col-4 img{
 border-radius:2px;
 object-fit:center;
}

.row-2{
 margin-top:20px;
}
         
.row-2 select{
 border:2px solid #ff523b;
 padding:5px;
 padding-left:10px;
 padding-right:10px;
 background:#ff523b;
 color:#fff;
}

.page-nav{
 margin:10px;
}

.page-nav span{
 display:inline-block;
 text-align:center;
 margin-left:10px;
 border-radius:5px;
 border:2px solid #ff523b;
 width:40px;
 height:40px;
 line-height:40px;
 transition:0.1s;
}

.page-nav span:hover{
 background:#ff523b;
}

.page-nav span:hover a{
 color:#fff;
}

.page-nav span a{
 text-decoration:none;
 color:#000;
}
             
.page-nav .current-page{
 background:#ff523b;
}

.page-nav .current-page a{
 color:#fff;
}


.exculsive p{
 color:white;
}         

.row-header .btn-ex{
 border-radius:0px;
 background:#ff523b;
 color:#fff;
}

.row-header .ratings{
 margin:10px;
 margin-left:0px;
}

.row-header .ratings .fa-star{
 color:#fff;
}

#exit{
 display:none;
}

.col-7{
 text-align:center;
}

@media only screen and (max-width:700px){
  .col-4{
   width:250px;
  }

  .row-header{
     padding-bottom:50px;
  }

  .nav-bar ul{
    top:33px;
   }
}
