{% extends "base.html" %}

{% block content %}
{% load static %}
        <style>
          section{
            background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("{% static 'images/bg.jpg' %}");
            background-size:cover;                                              
            background-position:center;
            height:100vh;
            overflow-y:scroll;
          }
        </style>
           
      <link rel="stylesheet"  href="{% static 'css/account.css' %}"/>
      <section>
        <div class="content">
           
           <div class="login-box">
            
             <div class="signup-btn-div">
               <img src="{% static 'images/cookies.jpg' %}"/>
             </div>
             
             <div class="login-form">
               <form method="POST" onsubmit="return validateLogin()">{% csrf_token %}
                 <img src="{% static 'images/userb.svg' %}"/>
                 <h2>Log in</h2>
                 <p class="error" id="error-4">
                   *account for user not found
                 </p>  
                 <input id="login-username" name="login-username"  type="text" placeholder="Username"/>
                 <p class="error" id="error-5">
                   *incorrect password    
                 </p>  
                 <input id="login-password" name="login-password"  type="password" placeholder="Password"/>
                 <input class="login-btn" type="submit" value="Log in"/>
                 <p>Don't have an account <a onclick="Toggle()">Sign up</a></p>
               </form>
             </div>
             
          </div>
          
          <div class="signup-box login-box">
            <div class="signup-form login-form">
               <form onsubmit="return validateSignup()" method="POST">{% csrf_token %}
                 <img src="{% static 'images/userb.svg' %}"/>
                 <h2>Sign Up</h2>
                 <p class="error" id="error-1">
                   *username already used
                 </p>                  
                 <input name="username-signup" id="signup-username" type="text" placeholder="Username"/>
                 <input id="signup-email" name="email-signup" type="email" placeholder="Email"/>
                        
                 <p class="error" id="error-2">
                   *passwords must be the same 
                 </p>
                 <p class="error" id="error-3">
                   *password must be 8 characters or more
                 </p>  
                 <input name="password-signup" id="signup-password" type="password" placeholder="Password"/>
                 <input name="conf-password-signup" id="signup-password-conf" type="password" placeholder="confirm password"/>
                 <input class="login-btn" type="submit" value="Sign Up"/>
                 <p>Do you have an account <a onclick="Toggle()">Log in</a></p>
               </form>
            </div>
            <div class="signup-btn-div login-btn-div">
              <img src="{% static 'images/wed_cake.jpg' %}"/>
            </div>
          </div>
        </div>
      </section>
    </body>
    <footer>
     {% block script %} 

      <script>

       function Toggle(){
       var container=document.querySelector(".content");
       container.classList.toggle("active");
       }

       function validateLogin(){
         var username=$("#login-username").val();
         var password=$("#login-password").val();
         
        if(username=="" && password==""){
          return false;
        }

         var data={
           "username":username,
           "password":password,
           "type":"login"
         }

         var info={
            method:"POST",
            headers:{
               "Content-Type":"applications/json",
               "X-CSRFToken":"{{csrf_token}}"
               },
            credentials:"same-origin",
            body:JSON.stringify(data)
          }
  
         const url="{% url 'verify' %}"

         fetch(url,info).then(response=>{
             return response.json();
           }).then(json=>{
           if(json.success){
               window.location.replace("{% url 'home' %}");
            }else{
             if(json.type=="bad-password"){
               $("#error-5").css({"display":"block"});
              }else{
               $("#error-5").css({"display":"none"});
             }
             
             if(json.type=="bad-username"){
                 $("#error-4").css({"display":"block"});
             }else{
                 $("#error-4").css({"display":"none"});
             }
           }
         });

         return false;
       }


       function validateSignup(){
           var username=$("#signup-username").val();
           var password=$("#signup-password").val();
           var conf_password=$("#signup-password-conf").val();
           var data={
             "username":username,
             "email":$("#signup-email").val(),
             "password":password,
             "type":"signup"
           }
           
           var info={
            method:"POST",
            headers:{
               "Content-Type":"applications/json",
               "X-CSRFToken":"{{csrf_token}}"
               },
            credentials:"same-origin",
            body:JSON.stringify(data)
          }

          const url="{% url 'verify' %}"
          
           if(username=="" && password=="" && conf_password==""){
              $(".error").css({"display":"none"});
               return false;
             }
 
         
            if(username==""){
               $("#error-1").css({"display":"block"});
               return false;
             }else{
               $("#error-1").css({"display":"none"});
              }

           if(password!=conf_password){
              $("#error-2").css({"display":"block"});
               return false
            }else{
              $("#error-2").css({"display":"none"});
            }

           if(password.length<8){
             $("#error-3").css({"display":"block"})
             return true;
           }else{
             $("#error-3").css({"display":"none"});
           }

         fetch(url,info).then(response=>{
             return response.json();
           }).then(json=>{
           if(json.success){
               window.location.replace("{% url 'home' %}");
            }else{
               $("#error-1").css({"display":"block"});
            }
         });
           return false;
    }
     </script>
     {% endblock %}
    </footer>
{% endblock %}
