{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width,scale=1.0">
        <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
        <title>Bakery</title>
        <style>
          .container{
            width:100%;
            position:absolute;
          }
        </style>
    </head>
    <body>
        <div class="container">
          <div id="container" class="utils">
            <img id="exit" src="{% static 'images/x-octagon.svg' %}" onclick="closeMenu()" />
            <ul>                             
              <li>        
                <img src="{% static 'images/home.svg' %}"/>
                <a href="#">Home</a>
              </li>
              <li>
                <img src="{% static 'images/cart.svg' %}"/>
                <a href="#">Bakery</a>
              </li>
              <li>
                <img src="{% static 'images/user.svg' %}"/>
                {% if  request.user.is_authenticated == False %}
                  <a href="{% url 'account' %}">Account</a>
                {% else %}
                  <a href="{% url 'logout' %}">Log out</a>
                {% endif %}

              </li>               
              <li>
                <img src="{% static 'images/mail.svg' %}"/>
                <a href="#">Contact</a>
              </li>
              <li>
                <img src="{% static 'images/users.svg' %}"/>
                <a href="#">About</a>
              </li>
            </ul>
          </div>
          <div class="nav-bar">
            <img src="{% static 'images/cake.png' %}"/>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Bakery</a></li>
              <li><a href="#">Account</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">About</a></li>
            </ul>
            <img id="menu" src="{% static 'images/menu.svg' %}" onclick="openMenu()"/>
          </div>                                            
           {% block content %}
           {% endblock %}
          <div class="terms">
           <a href="#">Terms & Conditions</a>
          </div>
        </div>
    </body>
    <footer>
     <script src="{% static 'js/jquery.js' %}"></script>
      <script>
        function closeMenu(){
          $("#container").css({"height":"0vh"});
        }
        
        function openMenu(){
          $("#container").css({"height":"100vh"});
        }
      </script>
     {% block script %}
     {% endblock %}
    </footer>
</html>
