{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width,scale=1.0">
        <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
        <title>Bakery</title>
        <style>
          .container{
            width:100%;
            position:absolute;
          }
        </style>
    </head>
    <body>
        <div class="container">
          <div id="container" class="utils">
            <img id="exit" src="{% static 'images/x-octagon.svg' %}" onclick="closeMenu()" />
            <ul>                             
              <li>        
                <img src="{% static 'images/home.svg' %}"/>
                <a href="{% url 'dashboard' %}">Home</a>
              </li>
              <li>
                <img src="{% static 'images/grid.svg' %}"/>
                <a href="{% url 'store' %}"">Store</a>
              </li>       
            {% if request.user.is_authenticated == False %}
              <li>
                <img src="{% static 'images/user.svg' %}"/>
                <a href="{% url 'account' %}">Account</a>
              </li>
            {% endif %}
              <li>
                <img src="{% static 'images/mail.svg' %}"/>
                <a href="#">Contact</a>
              </li>
              <li>
                <img src="{% static 'images/users.svg' %}"/>
                <a href="#">About</a>
              </li>
              <li>
                <img src="{% static 'images/cart.svg' %}"/>
                <a href="#">Cart</a>
              </li>
             {% if request.user.is_authenticated %}
              <li id="logout">
                <img src="{% static 'images/user.svg' %}"/>
                <a href="{% url 'logout' %}">Log out</a>
              </li>
             {% endif %}
            </ul>
          </div>
          <div class="nav-bar">
            <img src="{% static 'images/cake.png' %}"/>
            <p>Divine Bakery</p>
            <ul>            
              <li><a href="{% url 'dashboard' %}"">Home</a></li>
              <li><a href="{% url 'store' %}">Store</a></li>
               {% if request.user.is_authenticated == False %}
              <li>          
                <a href="{% url 'account' %}">Account</a>
              </li> 
                {% endif %}
             </li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">About</a></li>
             {% if request.user.is_authenticated %}
              <li><a href="#">Cart</a></li>
              <li>
                <div class="logout-btn">
                  <a href="{% url 'logout' %}">Log out</a>
                 </div>
             </li>
            {% endif %}
            </ul>
            <img id="menu" src="{% static 'images/menu.svg' %}" onclick="openMenu()"/>
          </div>
           {% block content %}
           {% endblock %}
          <div class="terms">
           <a href="#">Terms & Conditions</a>
          </div>
        </div>
    </body>
    <footer>
     <script src="{% static 'js/jquery.js' %}"></script>
      <script>
        function closeMenu(){
          $("#container").css({"height":"0vh"});
        }
        
        function openMenu(){
          $("#container").css({"height":"99.5vh"});
        }
      </script>
     {% block script %}
     {% endblock %}
    </footer>
</html>
