{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width,scale=1.0"/>
        <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
        <link rel="stylesheet" href="https://font.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"/>
        <link rel="stylesheet" href="{% static 'css/fontawesome/css/all.min.css' %}"/>

        <title>DivineBakery | Welcome!</title>
        <style>
          .container{
            background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)),url("{% static 'images/bg.jpg' %}");
            background-position:center;
            background-size:cover;
            padding-left:25px;
            padding-right:25px;
            max-width:1300px;
            margin:auto;
          }
        </style>
        {% block style %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
          <!----- Nav-bar ----->
          <div class="nav-bar">
            <img src="{% static 'images/logo.png' %}" width="50px" height="50px"/>
            <h3><a href="{% url 'home' %}" class="home">Divine Bakery</a></h3>
            <ul id="menuItems">
              <li id="exit"><img src="{% static 'images/x-octagon.svg' %}"/>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'store' %}?page=1">Store</a></li>
              <li><a href="#">Account</a></li>
             </ul>
          <a href="{% url 'cart' %}"> <img id="cart" src="{% static 'images/cart.svg' %}"/></a>

            <div id="cart-items" class="cart">
              <p id="cart_items_n">{{cart_items}}</p>
            </div>
            <img  id="menu" src="{% static 'images/menu.svg' %}"/>
          </div>
           {% block header %}
           {% endblock %}
         </div>

      {% block content %}
      {% endblock %}

       <div class="brands">
            <div class="row">
              <div class="col-6">
                <img src="{% static 'images/logo-paypal.png' %}"/>
              </div>
              <div class="col-6">
                <img src="{% static 'images/logo-stripe.png' %}"/>
              </div>
          </div>
        </div>

        <footer>
          <div class="links">
            <div class="row">
              <div class="col-7">
                <h2>Divine Bakery</h2>
              </div>
              <div class="col-7">
                <p><b>Useful Links</b></p>
                <ul>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                </ul>
              </div>
              <div class="col-7">
                <p><b>Follow Us</b></p>
                <ul>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Instagram</a></li>

                </ul>
              </div>
            </div>
          </div>
        </footer>
    </body>
    <footer>
     <script src="{% static 'js/jquery.js' %}"></script>
     <script>

      $("#menu").on("click",function(){
       if($("#menuItems").height()==0){
          $("#menuItems").css({"height":"200px"});
        }else{
          $("#menuItems").css({"height":"0px"});
        }
      });

      $("#exit").on("click",function(){
        $("#menuItems").css({"height":"0px"});
      });

      if(parseInt("{{cart_items}}")==0){
          $("#cart-items").css({"display":"none"});
      }

     </script>
     {% block script %}
     {% endblock %}
    </footer>
</html>
