{% extends "base.html" %}
{% load static %}

{% block style %}
 <link href="{% static 'css/store.css' %}" rel="stylesheet"/>
 <link href="{% static 'css/detail.css' %}" rel="stylesheet" />
 <style>
   @media only screen and (max-width:700px){
    #exit{
     display:block;
    }
  
   .nav-bar ul{
    top:-10px;
   }    
  }  
 </style>
{% endblock %}


{% block content %}
  <div class="small-container">
         <div class="row row-2">
           <h2 class="title-b">{{category.title}} Pastries</h2>
           <select id="categories">
             <option value="{% url 'store' %}?page=1">General</option>
            {% for category in categories %} 
              <option value="{% url 'category' category.slug %}?page=1">{{category.title}}</option>
            {% endfor %}      
           </select> 
         </div>
          <div class="row">
            {% for item in products %}
            <a href="{% url 'detail' item.id %}">
            <div class="col-4">   
              <img src="{{item.product_pic.url}}"/>
              <h4>{{item.title}}</h4>
              <p>NGN{{item.price}}</p>
             {% if item.ratings >= 5 %}
               <div class="ratings">
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
              </div>
              {% elif item.ratings >= 4 and item.ratings < 5 %}
                <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="far fa-star"></i>
              </div>
             {% elif item.ratings >= 3 and item.ratings < 4 %}
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
             {% elif item.ratings >= 2 and item.ratings < 3 %}
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
             {% elif item.ratings >= 1 and item.ratings < 2 %}
              <div class="ratings">
                <i class="fa fa-star"></i>
                 <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
             {% else %}      
              <div class="ratings">
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            {% endif %}     
              </a>
            </div>
            {% endfor %}
          </div>
        </div> 
        <div class="page-nav">
          {% if products.has_previous %}                                   
            <span><a href="{% url 'store' %}?page={{products.number|add:'-1'}}">&#8592;</a></span>
          {% endif %}
                  
          {% for page in products.paginator.page_range %}
             {% if page == products.number %}
                <span class="current-page"><a href="{% url 'store' %}?page={{page}}">{{page}}</a></span>
             {% else %}
               <span><a href="{% url 'store' %}?page={{page}}">{{page}}</a></span>
             {% endif %}
          {% endfor %}                              

          {% if products.has_next %}    
          <span><a href="{% url 'store' %}?page={{products.number|add:'1'}}">&#8594;</a></span>
          {% endif %}
        </div>                               
{% endblock %}

{% block script %}
  <script>             
    $("#categories").change(function(){
      var category=$(this).children("option:selected").val();
      window.location.replace(category+"/");
    });                           

    var options=document.getElementById("categories").options;
    for(var n=0;n<options.length;n++){
      var title=options[n].text;
      if(title == "{{category.title}}"){
         document.getElementById("categories").selectedIndex=options[n].index;
      }     
    }             

   </script>
{% endblock %}
