{% extends "base.html" %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/detail.css' %}"/>
{% endblock %}

{% block content %}
   <div class="head-txt">
    <h1>Weclome To Dashboard {% block section %}{% endblock %}</h1>
   </div>
     <div class="content content-white">
        <div class="user-profile">
          {% if request.user.userprofile.user_profile %}
            <img src="{{request.user.userprofile.user_profile.url}}"/>
          {% else %}
             <img src="{% static 'images/user.svg' %}"/>
          {% endif %}
         </div>
         <div class="user-profile">
           <div class="user-tab">
             <h3>Hi,{{firstname}}</h3>                               
              <img id="settings" src="{% static 'images/settings.svg' %}"/>
                   
            </div>                                   
          </div>
         </div>
      </div>   

      <div class="content content-2">
        <div class="user-info">
        <h4>Full Name:{{request.user.username}}</h4>
        <h4>Email:{{request.user.email}}</h4>
        <h4>Address:{{request.user.userprofile.address}}</h4>
        </div>
       </div>  
      {% block body %}
      <div class="content-utils">
        <div class="content" id="orders">
        <div class="header">
                           
         {% if orders > 0 %}
          <span class="nums"><h2>{{orders}}</h2></span>
        {% endif %}                     
         <img src="{% static 'images/archive.svg' %}"/>
           <h2>Number of Orders</h2> 
           <h4>Check to view orders</h4>
           <p>number of orders made since you joined</p>
         </div>
        </div>
 
        <div class="content" id="wishlist">
        <div class="header">
        {% if transactions != 0 %}
          <span class="nums"><h2>{{wishlist}}</h2></span>
        {% endif %}                          
        <img src="{% static 'images/package.svg' %}">
           <h2>Wishlist of Pastries</h2>
           <h4>Check to view wishlist</h4>
           <p>number of pastries you wishlisted</a>
         </div>
        </div>
    
      </div>

      <div class="content content-holder">
       <div class="content content-1">
        <h4>Total:NGN0.00</h4>
       </div>                  
      </div>
     {% endblock %}
{% endblock %}

{% block script %}
 <script>
   $("#settings").on("click",function(){
     window.location.replace("{% url 'usersettings' request.user.username %}");
   });

   $("#orders").on("click",function(){
      window.location.replace("{% url 'orders' %}");
    });

              
    $("#wishlist").on("click",function(){
      window.location.replace("{% url 'wishlists' %}");
    });
 </script>
{% endblock %}
