{% extends "new-base.html" %}
            
{% block content %}
  {% load static %}
 <style>
  .body{
   height:120vh;
  }
 </style>
 <link rel="stylesheet" href="{% static 'css/detail.css' %}"/>
 <div class="content">
    <div class="img-holder">
     <img src="{{ product.product_pic.url }}"/>
    </div>
    <div class="info">
      <div class="holder holder-top">
         <h2>{{product.title}}</h2>
         <h4>NGN{{product.price}}</h4>
         <p>{{product.desc}}</p>
      </div>
      <div class="holder">
         <div class="set">        
           <p id="qtty">QTY:</p>
           <button class="btn add" onclick="add()">+</button>
           <div class="amount">
             <p id="qty">1</p>
           </div>                    
           <button class="btn remove" onclick="removee()">-</button>
       </div>

         <div class="btn-holder">
           <div class="add-cart butn">
             <img src="{% static 'images/cart.svg' %}"/>
             <p> ADD CART</p>
           </div>
           <div class="order butn">
             <img src="{% static 'images/package.svg' %}"/>
             <a href="#">Order</a>
           </div>
         </div>
      </div>
 </div>
{% endblock %}

{% block script %}
 <script>
  var qty=1;

  function add(){
    qty++;
    $("#qty").html(qty);
  }
  
  function removee(){
   if(qty>1){
     qty--;
   }
   $("#qty").html(qty);
  }

  
 </script>
{% endblock %}
