{% extends "base.html" %}

{% block content %}
  {% load static %}
 <style>
  .content{
   width:100%;
   height:100vh;
   background-size:cover;
   background-position:center;
   overflow:scroll;
   background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("{% static 'images/bg.jpg' %}");
  }
 </style>
 <link rel="stylesheet" href="{% static 'css/detail.css' %}"/>
 <div class="content">
    <div class="img-holder">
     <img src="{{ product.product_pic.url }}"/>
    </div>
    <div class="info">
      <div class="holder">
         <h2>{{product.title}}</h2>
         <h4>NGN{{product.price}}</h4>
         <p>{{product.desc}}</p>
         <div class="set">        
           <button class="btn add" onclick="add()">+</button>
           <div class="amount">
             <p id="qty">1</p>
           </div>                    
           <button class="btn remove" onclick="removee()">-</button>
         </div>
         <div class="btn-holder">
           <div class="add-cart butn">
             <img src="{% static 'images/cart.svg' %}"/>
             <p> ADD CART</p>
           </div>
           <div class="order butn">
             <img src="{% static 'images/package.svg' %}"/>
             <a href="#">Order</a>
           </div>
         </div>
      </div>
 </div>
{% endblock %}

{% block script %}
 <script>
  var qty=1;

  function add(){
    qty++;
    $("#qty").html(qty);
  }
  
  function removee(){
   if(qty>1){
     qty--;
   }
   $("#qty").html(qty);
  }

  
 </script>
{% endblock %}
