{% extends "base.html" %}
{% load static %}

{% block style %}
  <style>
   .exculsive{
      background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)),url("{% static 'images/wed_cake.jpg' %}");
      background-position:center;
      background-size:cover;
      padding-left:25px;
      padding-right:25px;
      max-width:1300px;
      margin:auto;
   }
   </style>
   <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
{% endblock %}
    <!----- Code to be moved to home.html ----->
       {% block header %}
          <div class="row">
            <div class="col-2">
              {% if request.user.is_authenticated == False %}
              <h1 class="header">
               Welcome Customer!
              </h1>
              {% else %}
              <h1 class="header">
               Welcome {{ request.user }}!
              </h1>
              {% endif %}
              <p>divine bakery a bakery you can trust to satisfy your tatse</p>
              <p><a href="{% url 'store' %}?page=1" class="btn">Explore</a></p>
            </div>
            <div class="col-2">
              <img src="{% static 'images/cake.jpg' %}"/>
            </div>
          </div>
        </div>
      {% endblock %}

      {% block content %}
     <div class="small-container">
       <h2 class="title-b">Category</h2>
        <div class="row">
          <div class="col-3">
            <h4 class="title-b">Cake</h4>
            <img src="{% static 'images/cake.svg' %}"/>
           <p><i class="fa fa-quote-left"></i></p>
            <p>We specialize in cake and muffins for all types of events and celebrations</p>
          </div>
          <div class="col-3">
            <h4 class="title-b">Donut</h4>
            <img src="{% static 'images/donut.svg' %}"/>
           <p><i class="fa fa-quote-left"></i></p>
            <p>We specialize in making of donuts,bagels with different designs.</p>
          </div>
          <div class="col-3">
            <h4 class="title-b">Pie</h4>
            <img src="{% static 'images/pie.svg' %}"/>
           <p><i class="fa fa-quote-left"></i></p>
            <p>We specialize in pie making such as meat pie,fruit pie etc</p>
          </div>
         </div>
        </div>

        <div class="small-container">
          <h2 class="title-b">Featured Pastries</h2>
          <div class="row">
            {% for item in featured %}
            <a href="{% url 'detail' item.id %}">
            <div class="col-4">
              <img src="{{item.product_pic.url}}"/>
              <h4>{{item.title}}</h4>
              <p>NGN{{item.price}}</p>
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="far fa-star"></i>
              </div>
             </a>
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="small-container">
          <h2 class="title-b">Latest Pastries</h2>
          <div class="row">
           {% for item in latest %}
           <a href="{% url 'detail' item.id %}">
            <div class="col-4">
              <img src="{{item.product_pic.url}}"/>
              <h4>{{item.title}}</h4>
              <p>NGN{{item.price}}</h4>
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              </a>
            </div>
           {% endfor %}
          </div>

        <div class="row exculsive">
            <div class="col-2">
              <img src="{{exculsive.product_pic.url}}"/>
            </div>
            <div class="col-2">
              <a href="{% url 'detail' exculsive.id %}">
              <h1 class="header">
               {{exculsive.title}}
              </h1>
              </a>
              <p>{{exculsive.desc}}</p>
            </div>

       </div>
       <div class="testimonial">
         <div class="row">
           <div class="col-5">
             <i class="fa fa-quote-left"></i>
             <p>They've got some really yummy pies</p>
             <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <img src="{% static 'images/user.png' %}"/>
              <h4>Mr Cookie</h4>
           </div>
           <div class="col-5">
             <i class="fa fa-quote-left"></i>
             <p>Amazing wedding cake, and we were so surprised when we did the cake tasting that we chose the vanilla cake. It was fabulous – by far, the best vanilla cake I have ever had</p>
             <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <img src="{% static 'images/user.png' %}"/>
              <h4>Mr Cookie</h4>
           </div>
           <div class="col-5">
             <i class="fa fa-quote-left"></i>
             <p>Tried this place a long time ago and it is my favorite place to go for cupcakes. The flavor and texture is astonishing.</p>
             <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <img src="{% static 'images/user.png' %}"/>
              <h4>Mr Cookie</h4>
           </div>
         </div>
       </div>
       {% endblock %}
