{% extends "base.html" %}

{% block content %}
  {% load static %}
   <style>
    .content{
     width:100%;
     height:100vh;
     background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("{% static 'images/bg.jpg' %}");
     background-position:center;
     background-size:cover;
     position:absolute;
    }
   </style>
   <div class="content">
          <div class="info">
            <h1>Bakery</h1>
            <p>
Facebook Bakery Page! Glad tidings dear customers! We are happy to introduce you to our 'Facebook Bakery Page' <br /> where you can interact, get latest information & resolve all orders related queries.This is another <br /> opportunity from Bakery just for you. 
            </p>                                                                                                                                                                                                          
            <div class="btnBx">
              <div class="btn explore-btn">
                <span></span><span></span><span></span>
                <a href="#">Explore</a>
              </div>
              <div class="btn join-btn">
                <span></span><span></span><span></span>
                <a href="#">Join us</a>
              </div>
           </div>
   </div>
{% endblock %}

