{% extends "new-base.html" %}
                      
{% block content %}
{% load static %}
        <style>
          .body{
           overflow:scroll;
           height:120vh;
           position:relative;
          }
        </style>
           
      <link rel="stylesheet"  href="{% static 'css/account.css' %}"/>
      <section>
        <div class="content">
           <div class="login-box"> 
             <div class="signup-btn-div">
               <img src="{% static 'images/cookies.jpg' %}"/>
             </div>
             <div class="login-form">
               <form method="POST">{% csrf_token %}
                 <img src="{% static 'images/userb.svg' %}"/>
                 <h2>Log in</h2>
                 {{loginform.as_p}}
                 <input class="login-btn" type="submit" value="Log in"/>
                 <p>Don't have an account <a href="{% url 'signup' %}">Sign Up</a></p>
               </form>
             </div>
          </div>
        </div>
      </section>
    </body>
{% endblock %}
