{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width,scale=1.0">
        <link rel="stylesheet" href="{% static 'css/new-base.css' %}"/>
        <title>Bakery</title>
        <style>
          .container{
            width:100%;
            background:linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.5)),url("{% static 'images/bg.jpg' %}");
            background-size:cover;
            background-position:center;
            position:relative;
            overflow:hidden;
          }
          
          .utils{
            width:40%;
            height:0;
            position:absolute;
            top:0;
            right:0;
            transition:1s;
            z-index:1;
            overflow:hidden;
          }

        </style>
    </head>
    <body>
        <div class="container">
          <div class="nav-bar">
            <img src="{% static 'images/cake.png' %}"/>
            <p>Divine Bakery</p>
            <ul>            
              <li><a href="{% url 'dashboard' %}">Home</a></li>
              <li><a href="{% url 'store' %}">Store</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Cart</a></li>
             {% if request.user.is_authenticated == False %}
              <li id="li-none">
                <div class="div-btn-green">
                  <a href="{% url 'signup' %}">Sign Up</a>
                </div>      
              </li>
              <li id="li-none">
                <div class="div-btn-red">
                  <a href="{% url 'login' %}">Log in</a>
                </div>      
              </li>
             {% else %}
              <li id="li-none">
                <div class="div-btn-red">
                  <a href="{% url 'logout' %}">Log out</a>
                </div>      
              </li>
            {% endif %}
            </ul>
            <img id="menu" src="{% static 'images/menu.svg' %}"/>
          </div>
          <div class="body">
           <div class="inner-body">
          {% block content %}
          {% endblock %}
           </div>
          </div>
          <div class="terms">
            <a href="#">Terms & Conditions</a>
          </div>
        </div>
        <div class="utils">   
          <img id="exit" src="{% static 'images/x-octagon.svg' %}"/>
          <ul>
            <li>
              <img src="{% static 'images/home.svg' %}"/>
              <a href="{% url 'dashboard' %}">Home</a>
            </li>       
            <li>
              <img src="{% static 'images/grid.svg' %}"/>
              <a href="{% url 'store' %}">Store</a>
            </li>       
            <li>
              <img src="{% static 'images/mail.svg' %}"/>
              <a href="#">Contact</a>
            </li>
            <li>
              <img src="{% static 'images/users.svg' %}"/>
              <a href="#">About</a>
            </li>
            <li>
              <img src="{% static 'images/cart.svg' %}"/>
              <a href="#">Cart</a>
            </li>
           {% if request.user.is_authenticated == False %}
            <li id="login-logout">
              <img src="{% static 'images/user.svg' %}"/>
              <a href="{% url 'login' %}">Log in</a>
            </li>       
            <li id="signup">
              <img src="{% static 'images/user-plus.svg' %}"/>
              <a href="{% url 'signup' %}">Sign Up</a>
            </li>       
          {% else %}
            <li id="login-logout">
              <img src="{% static 'images/user.svg' %}"/>
              <a href="{% url 'logout' %}">Log out</a>
            </li>       
          {% endif %}
          </ul>
        </div>
    </body>
    <footer>                              
      <script src="{% static 'js/jquery.js' %}"></script>
      <script>
        $("#menu").on("click",function(){
          $(".utils").css({"height":"120vh"});
        });
        
        $("#exit").on("click",function(){
          $(".utils").css({"height":"0vh"});
        });
        
      </script>
      {% block script %}
      {% endblock %}
    </footer>
</html>
