{% extends "base.html" %}

{% block content %}
{% load static %}
        <style>
          section{
            background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("{% static 'images/bg.jpg' %}");
            background-size:cover;                                              
            background-position:center;
            height:100vh;
            overflow-y:scroll;
          }
        </style>
           
      <link rel="stylesheet"  href="{% static 'css/account.css' %}"/>
      <section>
        <div class="content">
           <div class="login-box"> 
             <div class="login-form">
               <form method="POST">{% csrf_token %}
                 <img src="{% static 'images/userb.svg' %}"/>
                 <h2>Sign Up</h2>
                  {{signupform.as_p}}
                 <input class="login-btn" type="submit" value="Sign Up"/>
                 <p>Do you have an account <a href="{% url 'account' %}">Log in</a></p>
               </form> 
             </div>
             <div class="signup-btn-div">
               <img src="{% static 'images/wed_cake.jpg' %}"/>
             </div>
          </div>
        </div>
      </section>
    </body>
{% endblock %}
