{% extends "base.html" %}

{% block content %}
{% load static %}
 <style>
  .content{
   width:100%;
   height:100vh;
   background-size:cover;
   background-position:center;
   overflow:scroll;
   background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("{% static 'images/bg.jpg' %}");
  }                

  .store-goods{
   margin-bottom:50px;
  }
                  
 </style>
 <link rel="stylesheet" href="{% static 'css/store.css' %}"/>
 <div class="content">
  <div class="snav-bar">
   <form method="GET">
    <input type="text" placeholder="Search your favourite pastry"/>
    <input type="submit" value="Search"/>
  </div>
  <div class="store-goods">
    {% for product in products %}
      <div class="product">    
         <p id="title"><strong> 
         {% if product.title|length > 8 %}
           {{product.snippet_android}}
         {% else %}
           {{product.title}}
         {% endif %}
         </strong></p>
         <div class="img-holder">
           <img src="{{product.product_pic.url}}"/>
         </div>
        <a href="{% url 'detail' product.id %}">
         <div class="info">
           <p>NGN{{product.price}}</p>
        </div>
        </a>
    </div>                      
  {% empty %}
   <div class="product-empty">
     <p><strong>SOLD OUT!</strong> come back later.</p>
   </div>
  {% endfor %}
  </div>
 </div>
{% endblock %}
