{% extends "dashboard.html" %}
{% load humanize %}

{% block section %} - Orders {% endblock %}
{% block body %}
 <style>
   .link{
     color:#0d81ea;
     text-decoration:none;
     margin-top:20px;
     margin-left:25px;	

    }

   .flex-1{
     flex:1;
     text-align:right;
    }

 </style>
 <div class="content">
  <h2>{{request.user.username}}'s Orders</h2>
 </div>
 {% for order in orders %}
  <div class="content">
   <div class="info">   
   </p><h4>Ordered</h4>{{order.created_at|naturaltime}}</p> 
   </div>         
   <div class="flex-1">
     <a href="#" class="link">View details</a>
   </div>
  </div>      
 {% endfor %}
{% endblock %}
